body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Bỏ gạch chân cho tất cả các link */
a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

/* Bỏ gạch chân cho các link trong Bootstrap components */
.btn-link {
  text-decoration: none !important;
}

.btn-link:hover {
  text-decoration: none !important;
}
